* {
            -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
            -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
            -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
            -webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */

}
	
body {
	margin:0px;
}


.app-screen {
	width:360px; 
	height:640px; 
	overflow:hidden; 
	margin : 0 auto;
	position: relative;
	
}

.app-background {
	width:375px; 
	height:655px; 
	-webkit-filter: blur(2px);
	filter: blur(2px);
	float:left;
	z-index:8;
	position:absolute;
	top:0px;
	left:0px;
	
	margin: -5px -10px -10px -5px;
}

.app-background-darkener {
	width:375px; 
	height:655px; 
	float:left;
	z-index:9;
	position:absolute;
	top:0px;
	left:0px;
	background-color: #000;
	opacity: 0.4;
	
	
	margin: -5px -10px -10px -5px;
}


.top-font{
	margin-top:80px;
	position: relative;
	z-index: 99;
	font-size:70px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	
	text-align: center;
	
	width:360px;
	
	border-bottom: 1px solid white;
}

.top-font-float-right{
	position:absolute;
	z-index: 99;
	font-size:40px;
	bottom:0px;
	right:0px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	margin-right:10px;
	
}


.middle-font{
	padding-top:20px;
	position: relative;
	z-index: 99;
	font-size:50px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight:200;
	
	text-align: center;
	
	width:360px;
	
	border-bottom: 1px solid white;
	
	
}



.swiper-container {
	width: 360px;
	height: 65px;
	margin: 0px;
}

.swiper-slide {
	color:#fff;
	text-align: center;
	line-height: 40px;
}

.fake-button {
	cursor: pointer;
	width:75px;
	text-align: right;
}

.lock-this {
	background: rgba(0,0,0,0.5);

}